<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlets</servlet-name>
  	<display-name>RegisterServlets</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.RegisterServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlets</servlet-name>
  	<display-name>LoginServlets</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.LoginServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlets</servlet-name>
  	<display-name>LogoutServlets</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.LogoutServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlets</servlet-name>
  	<display-name>EditServlets</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.EditServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPostServlets</servlet-name>
  	<display-name>AddPostServlets</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.AddPostServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LikeServlets</servlet-name>
  	<display-name>LikeServlets</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlets.LikeServlets</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlets</servlet-name>
  	<url-pattern>/RegisterServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlets</servlet-name>
  	<url-pattern>/LoginServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlets</servlet-name>
  	<url-pattern>/LogoutServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlets</servlet-name>
  	<url-pattern>/EditServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPostServlets</servlet-name>
  	<url-pattern>/AddPostServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeServlets</servlet-name>
  	<url-pattern>/LikeServlets</url-pattern>
  </servlet-mapping>
 
 <welcome-file-list>
   <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>
